@import "../utils/_variables.scss";

/*-----------------------------------------------------------*\
    HOME-PAGE/LOCALISATION
\*-----------------------------------------------------------*/
.localisation-display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    height: 47px;
    box-shadow: inset 0px 3px 5px #D0D0D0;
    position: relative; /*necessaire uniquement pour l'animation pour que introduction ne passe pas au dessus...*/
    z-index: 1000;
    &__search-input {
        border: solid #eaeaea;
        padding: 4px 0 0 0 ; /*user agent met un padding qui affiche un border/background white ou #eaeaea*/
        background-color: #eaeaea; /*enlève le background blanc qui s'affiche à cause du padding ci-dessus*/
        &::placeholder {
            color: $bg-clr-footer;
            font-weight: 600;
            background-color: #eaeaea;
            font-size: 14px;
        }
    }
    &__map-marker-icon {
        color: $bg-clr-footer;
        margin: 0 17px 0 35px;
    }
}