.card-menu {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6f6f6;
}

.card-menu article {
    display:flex;
    align-self: center;
    align-items: center;
    width: 92.98%;
    height: 65px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px 10px #e7e7e7;
    overflow: hidden; /*pour rogner le square*/
}

.card-menu article:hover>.card-menu__animate-square {
    transform: scaleX(1);
}

.card-menu article:hover .fa-check-circle {
    transform: rotate(0turn);
}

.card-menu__meal-kind {
    font-size: 16px;
    font-weight: normal;
    /*text-decoration: solid underline #34a689;*/
    background-image: linear-gradient(#34a689, #34a689);
    background-position: bottom left; /*Adjust the background-position to move the line*/
    background-size: 10% 3px; /*Adjust the background size to control length and height*/
    background-repeat: no-repeat;
    padding-bottom: 6px; /* this can also control the position */
    margin-left: 20px;
}

.card-menu__recipe {
    width: 100%;
    margin: 0;
    padding: 0 20px 0 9px;
}

.card-menu__recipe h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: 900;
}

.card-menu__recipe p {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.card-menu__recipe--price {
    font-weight: 900;
}

/*Ta bordure est contenue dans une balise, cette balise ne doit pas contenir de padding ni margin sur droite et gauche. Si tu as utilisé display flex, tu peux utiliser flex-basis
Par exemple en supposant que activité est hébergement sont dans une ul li li, tu donnes flex basis 100% à la ul , et flex-basis 50% à chaque li.
Flex-basis c’est un peu pour les box ce que le line-height est au texte*/

.card-menu__animate-square {
    /*opacity: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99e2d0;
    width: 56px;
    height: 100%;
    transform: scaleX(0);
    transition: transform 400ms ease-in-out;
    transform-origin: right 50%;
}

.fa-check-circle {
    color: #fff;
    transform: rotate(-1turn);
    transition: transform 250ms ease-in-out;
    transition-delay: 150ms;
}