/*$anim-dur: 300ms;
$anim-delay: 300ms;
$delay-for-next: $anim-dur + $anim-delay;*/

@keyframes element-emerging{
    0% {
        transform: scale(0);
        opacity: 0.1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/*body {
    animation: element-emerging 8000ms 300ms both;
}*/
.header__logo-container__logo, .footer {
    animation: element-emerging 300ms 300ms both;
}

.localisation-display, .introduction {
    animation: element-emerging 300ms 600ms both;
}

.operation {
    animation: element-emerging 300ms 900ms both;
}

.restaurant-card {
    animation: element-emerging 300ms 1200ms both;
}

/*----------------------------------------------------------*\
    RESTAURANT/CARD #1
\*----------------------------------------------------------*/

/*.header--page {
    animation: element-emerging 300ms 300ms both;
}

.restaurant-intro {
    animation: element-emerging 300ms 600ms both;
}*/

.entries .recipe-card__meal-kind  {
    animation: element-emerging 300ms 900ms both;
}

.entries article:nth-child(1) {
    animation: element-emerging 800ms 1200ms both cubic-bezier(.18,0,0,1.12);
}

.entries article:nth-child(2) {
    animation: element-emerging 800ms 1500ms both cubic-bezier(.18,0,0,1.12);
}

.entries article:nth-child(3) {
    animation: element-emerging 800ms 1800ms both cubic-bezier(.18,0,0,1.12);
}

.entries article:nth-child(4) {
    animation: element-emerging 800ms 2000ms both cubic-bezier(.18,0,0,1.12);
}

.entries article:nth-child(5) {
    animation: element-emerging 800ms 2000ms both cubic-bezier(.18,0,0,1.12);
}





.dishes .recipe-card__meal-kind  {
    animation: element-emerging 300ms 2300ms both;
}

.dishes article:nth-child(1) {
    animation: element-emerging 800ms 2600ms both cubic-bezier(.18,0,0,1.12);
}

.dishes article:nth-child(2) {
    animation: element-emerging 800ms 2900ms both cubic-bezier(.18,0,0,1.12);
}

.dishes article:nth-child(3) {
    animation: element-emerging 800ms 3200ms both cubic-bezier(.18,0,0,1.12);
}

.dishes article:nth-child(4) {
    animation: element-emerging 800ms 3500ms both cubic-bezier(.18,0,0,1.12);
}




.desserts .recipe-card__meal-kind  {
    animation: element-emerging 300ms 3800ms both;
}

.desserts article:nth-child(1) {
    animation: element-emerging 800ms 4100ms both cubic-bezier(.18,0,0,1.12);
}

.desserts article:nth-child(2) {
    animation: element-emerging 800ms 4400ms both cubic-bezier(.18,0,0,1.12);
}

.desserts article:nth-child(3) {
    animation: element-emerging 800ms 4700ms both cubic-bezier(.18,0,0,1.12);
}

.desserts article:nth-child(4) {
    animation: element-emerging 800ms 5000ms both cubic-bezier(.18,0,0,1.12);
}

.btn--command {
    animation: element-emerging 1200ms 5000ms both cubic-bezier(.18,0,0,1.12);
}


@keyframes headshake {
    12% {
        /*// entièrement à droite*/
        transform: translateX(8px);
    }

    37% {
        /*// entièrement à gauche*/
        transform: translateX(8px*-1);
    }

    62% {
        /*// entièrement en haut*/
        transform: translateY(8px);
    }

    87% {
        /*// entièrement en bas*/
        transform: translateY(8px* -1);
    }
}

.header--page:hover .header--page__arrow-icon {
    animation: headshake 150ms cubic-bezier(.4,.1,.6,.9) 3;/* animation-iteration-count =2 est directement intégré dans la propriété raccourcie animation:*/
}