.localisation-display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    height: 47px;
    box-shadow: inset 0px 3px 5px #D0D0D0;
    position: relative; /*necessaire uniquement pour l'animation pour que introduction ne passe pas au dessus...*/
    z-index: 1000;
}

.localisation-display__search-input {
    border: solid #eaeaea;
    padding: 4px 0 0 0 ; /*user agent met un padding qui affiche un border/background white ou #eaeaea*/
    background-color: #eaeaea; /*enlève le background blanc qui s'affiche à cause du padding ci-dessus*/
}

.localisation-display__search-input::placeholder {
    color: #353535;
    font-weight: 600;
    background-color: #eaeaea;
    font-size: 14px;
}

.localisation-display__map-marker-icon {
    color: #353535;
    margin: 0 17px 0 35px;

}

.introduction {
    background-color: #f6f6f6;
    text-align: center;
    padding: 37px 0 54px 0;
}

.introduction h1 {
    font-size: 22px;
    padding: 0 10px;
    margin: 0 0 15px 0;
}

.introduction p {
    font-size: 16px;
    color: #353535;
    margin: 0 0 31px 0;
}


.btn, .btn--command {
    display: flex;
    justify-content: center;
}

.btn--command {
    margin: 35px 0 78px 0;
}

.btn__text, .btn--command__text {
    display: inline-block; /*sans cela, la div operation surplombe le btn explore quand text invite est entouré d'un lien*/
    color: #fff;
    background: linear-gradient(#FF79DA, #9356DC); /*ne marche pas avec background-color*/
    border-radius: 30px;
    padding: 16px 21px;
}

.btn--command__text {
    padding: 16px 47px;
}

.btn:hover, .btn--command:hover {
    background: linear-gradient(darken(#FF79DA, 20%), darken(#9356DC, 20%));
}

/*background: linear-gradient(#f77dd4, #ab65fa);*/