body {
    margin: 0;
    /*width: 100vw;*/ /*fais que la page depasse, parfois inutile*/
    position: relative;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76px;
}

.header__logo-container__logo {
    width: 158px;
    height: auto;
    padding-top: 15px;
}

.footer {
    background-color: #353535;
    color: #fff;
    padding: 25px 0 30px 0;
}

.footer__logo-container {
    padding-left: 23px;
    margin: 0 0 21px 0;
}

.footer__logo-container__logo {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(172deg) brightness(104%) contrast(101%);/*https://codepen.io/sosuke/pen/Pjoqqp*/
    width: 95px;
    height: auto;
}

.footer ul {
    list-style-type: none;
    padding-left: 23px;
    margin: 0; /*user agent met un margin*/
}

.footer ul li, .footer ul li a {
    text-decoration: none;
    color: inherit;
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}

.fas.fa-utensils, .fas.fa-handshake {
    padding-right: 12px;
}

.fas.fa-utensils {
    margin-right: 4px;
}

.fas.fa-handshake { /*un moyen de centrer l'icone qui a subi rotate et le texte serait mieux que position relative*/
    transform: rotate(-35deg);
    font-size: 12px;
    position: relative;
    bottom: 4px;
}