.operation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 47px 0 43px 0;
}

.operation h2 {
    width: 100%;
    align-self: flex-start;
    font-size: 20px;
    padding-left: 17px;
    margin: 0 0 23px 0;
}

.operation article {
    display: flex;
    width: 85.96%;
    max-width: 344px;
    height: 69px;
    background-color: #F6F6F6;
    align-items: center;
    box-shadow: 2px 2px 10px #e7e7e7;
    border-radius: 30px;
    margin-bottom: 22px;
  }
  
.operation__number {
    font-size: 12px;
    color: #fff;
    background-color: #9356DC;
    border-radius: 20px;
    padding: 4px 8px;
    position: relative;
    left: -10px;
}

.operation__icon {
    padding-left: 8px;
    font-size: 18px;
}

.operation__icon.fa-mobile-alt {
    font-size: 20px;
}

.operation__description {
    font-size: 16px;
    font-weight: 600;
    margin-left: 8%;
    margin-right: 20%;
}
  