@import "../utils/_variables.scss";
.operation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 47px 0 43px 0;
    h2 {
        width: 90%; /*pourquoi à 100%, il sort de son caontainer*/
        align-self: flex-start;
        font-size: 20px;
        padding-left: 17px;
        margin: 0 0 23px 0;
    }
    article {/*rajouter padding pour que l'article soit visible sur devtool et non caché par ses contenus*/
        display: flex;
        width: 85.96%;
        max-width: 344px;
        height: 69px;
        background-color: $main-bg-clr;
        align-items: center;
        box-shadow: 2px 2px 12px $box-shadow-clr;
        border-radius: 30px;
        margin-bottom: 22px;
        &:hover {
            background-color: #f5edff;
            /*box-shadow: 2px 2px 10px #f5edff; /*tu ne peux pas juste mettre red car il ne reprend pas les valeurs, il faut redeclarer complètement*/
        }
        &:hover > .operation__icon {
            color: $clr-primary;
        }
    }
    &__number {
        font-size: 12px;
        color: $clr-white;
        background-color: $clr-primary;
        border-radius: 20px;
        padding: 4px 8px;
        position: relative;
        left: -10px;
    }
    &__icon {
        padding-left: 8px;
        font-size: 18px;
        &.fa-mobile-alt {
            font-size: 20px;
        }
    }
    &__description {
        font-size: 16px;
        font-weight: 600;
        margin-left: 8%;
        margin-right: 20%;
    }
}