$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;
$clr-white: #fff;
$main-bg-clr: #f6f6f6;
$bg-clr-footer: #353535;
$box-shadow-clr: #e8e6eb; /*#e7e7e7*/
$box-shadow-clr--hover: #D2D2D2;
$clr-green-mint: #34a689;

$clr-btn: linear-gradient($clr-secondary, $clr-primary);
$clr-btn-hover: linear-gradient(#ab65fa, #f77dd4);