
@import "_variables.scss";
$clr-to-lighten: linear-gradient(#FF79DA, #9356DC);

.localisation-display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    height: 47px;
    box-shadow: inset 0px 3px 5px #D0D0D0;
    &__search-input {
        border: solid #eaeaea;
        padding: 4px 0 0 0 ; /*user agent met un padding qui affiche un border/background white ou #eaeaea*/
        background-color: #eaeaea; /*enlève le background blanc qui s'affiche à cause du padding ci-dessus*/
        &::placeholder {
            color: #353535;
            font-weight: 600;
            background-color: #eaeaea;
            font-size: 14px;
        }
    }
    &__map-marker-icon {
        color: #353535;
        margin: 0 17px 0 35px;
    }
}

.introduction {
    background-color: #f6f6f6;
    text-align: center;
    padding: 37px 0 54px 0;
    h1 {
        font-size: 22px;
        padding: 0 10px;
        margin: 0 0 15px 0;
    }
    p {
        font-size: 16px;
        color: #353535;
        margin: 0 0 31px 0;
    }
}

.btn, .btn--command {
    display: inline-block;
    justify-content: center;
    position: relative;
    z-index: 1;
    &__text {
        display: inline-block; /*sans cela, la div operation surplombe le btn explore quand text invite est entouré d'un lien*/
        color: #fff;
        background: linear-gradient($clr-secondary, $clr-primary); /*ne marche pas avec background-color*/
        border-radius: 30px;
        padding: 16px 21px;
        &:hover {
            &::after {
                opacity: 1;
            /*background: lighten ($clr-to-lighten, 50%); /*ne marche pas car hover est pseudo element et pour des animations il faut pseudoselecteur*/
            }
        }
        &::after {
            display: inline-block;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(lighten ($clr-secondary, 5) 50%, lighten ($clr-primary, 10) 50%);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
        }
    }
}

.btn--command {
    margin: 35px 0 78px 0;
    &__text {
        padding: 16px 47px;
    }
}
